<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="categoryRule">
      <h2 data-cy="categoryRuleDetailsHeading"><span jhiTranslate="myExpensesApp.categoryRule.detail.title">Category Rule</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ categoryRule.id }}</span>
        </dd>
        <dt><span jhiTranslate="myExpensesApp.categoryRule.match">Match</span></dt>
        <dd>
          <span>{{ categoryRule.match }}</span>
        </dd>
        <dt><span jhiTranslate="myExpensesApp.categoryRule.category">Category</span></dt>
        <dd>
          <div *ngIf="categoryRule.category">
            <a [routerLink]="['/category', categoryRule.category?.id, 'view']">{{ categoryRule.category?.categoryName }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/category-rule', categoryRule.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
