<div>
  <h2 id="page-heading" data-cy="MoneyAccountHeading">
    <span jhiTranslate="myExpensesApp.moneyAccount.home.title">Money Accounts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myExpensesApp.moneyAccount.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-money-account"
        [routerLink]="['/money-account/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="myExpensesApp.moneyAccount.home.createLabel"> Create a new Money Account </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="moneyAccounts?.length === 0">
    <span jhiTranslate="myExpensesApp.moneyAccount.home.notFound">No moneyAccounts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="moneyAccounts && moneyAccounts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="accountName">
            <span jhiTranslate="myExpensesApp.moneyAccount.accountName">Account Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="initialBalance">
            <span jhiTranslate="myExpensesApp.moneyAccount.initialBalance">Initial Balance</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="accountType">
            <span jhiTranslate="myExpensesApp.moneyAccount.accountType">Account Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="currency.currencyName">
            <span jhiTranslate="myExpensesApp.moneyAccount.currency">Currency</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let moneyAccount of moneyAccounts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/money-account', moneyAccount.id, 'view']">{{ moneyAccount.id }}</a>
          </td>
          <td>{{ moneyAccount.accountName }}</td>
          <td>{{ moneyAccount.initialBalance }}</td>
          <td jhiTranslate="{{ 'myExpensesApp.AccountType.' + moneyAccount.accountType }}">{{ moneyAccount.accountType }}</td>
          <td>
            <div *ngIf="moneyAccount.currency">
              <a [routerLink]="['/currency', moneyAccount.currency?.id, 'view']">{{ moneyAccount.currency?.currencyName }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/money-account', moneyAccount.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/money-account', moneyAccount.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(moneyAccount)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
