<div>
  <h2 id="page-heading" data-cy="CategoryRuleHeading">
    <span jhiTranslate="myExpensesApp.categoryRule.home.title">Category Rules</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myExpensesApp.categoryRule.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-category-rule"
        [routerLink]="['/category-rule/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="myExpensesApp.categoryRule.home.createLabel"> Create a new Category Rule </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="categoryRules?.length === 0">
    <span jhiTranslate="myExpensesApp.categoryRule.home.notFound">No categoryRules found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="categoryRules && categoryRules.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="match">
            <span jhiTranslate="myExpensesApp.categoryRule.match">Match</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="category.categoryName">
            <span jhiTranslate="myExpensesApp.categoryRule.category">Category</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let categoryRule of categoryRules; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/category-rule', categoryRule.id, 'view']">{{ categoryRule.id }}</a>
          </td>
          <td>{{ categoryRule.match }}</td>
          <td>
            <div *ngIf="categoryRule.category">
              <a [routerLink]="['/category', categoryRule.category?.id, 'view']">{{ categoryRule.category?.categoryName }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/category-rule', categoryRule.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/category-rule', categoryRule.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(categoryRule)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
