<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="accountRecord">
      <h2 data-cy="accountRecordDetailsHeading"><span jhiTranslate="myExpensesApp.accountRecord.detail.title">Account Record</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ accountRecord.id }}</span>
        </dd>
        <dt><span jhiTranslate="myExpensesApp.accountRecord.date">Date</span></dt>
        <dd>
          <span>{{ accountRecord.date | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="myExpensesApp.accountRecord.amount">Amount</span></dt>
        <dd>
          <span>{{ accountRecord.amount }}</span>
        </dd>
        <dt><span jhiTranslate="myExpensesApp.accountRecord.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'myExpensesApp.AccountRecordType.' + accountRecord.type }}">{{ accountRecord.type }}</span>
        </dd>
        <dt><span jhiTranslate="myExpensesApp.accountRecord.category">Category</span></dt>
        <dd>
          <div *ngIf="accountRecord.category">
            <a [routerLink]="['/category', accountRecord.category?.id, 'view']">{{ accountRecord.category?.categoryName }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="myExpensesApp.accountRecord.account">Account</span></dt>
        <dd>
          <div *ngIf="accountRecord.account">
            <a [routerLink]="['/money-account', accountRecord.account?.id, 'view']">{{ accountRecord.account?.accountName }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/account-record', accountRecord.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
