<div>
  <h2 id="page-heading" data-cy="BudgetItemHeading">
    <span jhiTranslate="myExpensesApp.budgetItem.home.title">Budget Items</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myExpensesApp.budgetItem.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-budget-item"
        [routerLink]="['/budget-item/new/' + budgetId]"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="myExpensesApp.budgetItem.home.createLabel"> Create a new Budget Item </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="budgetItems?.length === 0">
    <span jhiTranslate="myExpensesApp.budgetItem.home.notFound">No budgetItems found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="budgetItems && budgetItems.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="amount">
            <span jhiTranslate="myExpensesApp.budgetItem.amount">Amount</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="budget.yearMonth">
            <span jhiTranslate="myExpensesApp.budgetItem.budget">Budget</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="category.categoryName">
            <span jhiTranslate="myExpensesApp.budgetItem.category">Category</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let budgetItem of budgetItems; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/budget-item', budgetItem.id, 'view']">{{ budgetItem.id }}</a>
          </td>
          <td>{{ budgetItem.amount }}</td>
          <td>
            <div *ngIf="budgetItem.budget">
              <a [routerLink]="['/budget', budgetItem.budget?.id, 'view']">{{ budgetItem.budget?.yearMonth }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="budgetItem.category">
              <a [routerLink]="['/category', budgetItem.category?.id, 'view']">{{ budgetItem.category?.categoryName }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/budget-item', budgetItem.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/budget-item', budgetItem.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(budgetItem)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
